.title {
    color: white;

}

.title img {
    width: auto;
    height: 300px;
    border-radius: 9%;
}


body {
    background-color: grey;
    font-family: "Open Sans", sans-serif;
    padding: 1em;
    font-size: 1.1em;
    color: black;
    display: flex;
    align-content: center;
    justify-content: center;
}


footer {
    color: black;
}